*{
font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    margin: 0 25rem 0 25rem;
   
}
.links {
    display: flex;

}
header {
    height: 10vh;
    background-color:rgb(248, 249, 250);

}

header a {
    text-decoration: none;
    color: rgb(153, 129, 55);
    margin-left: 15em;
}

header a:hover {
    color: black;
} 


#titulo p{
    color: rgb(153, 129, 55);
    margin: 1em 9em 0 1em;
    font-size: 2em;
}


#banner {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

h1 {
    text-align: center;
    color: black;
    font-size: 4rem;
    margin:7rem 0 7rem 0;
    color: rgb(153, 129, 55);

}


#container-texto {
display: flex;
margin: 5rem 10rem;
}


#titulo {
    display: flex;
    width: 40%;
    
}

#titulo h3{
font-size: 2rem;
text-align: left;
color: rgb(153, 129, 55);
}

#texto {
    display: flex;
    width: 60%;
    font-size: 1rem;
    text-align: left; 
}

ul {
    display: flex;
    justify-content: space-around;
}

.icones {
    margin-top: 7rem;
}

.icones p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #998137;
}

.icones img {
    height: 84px;
    width: 84px;
}

#container-video {
    display: flex;
    justify-content:space-around;
    margin: 7rem 0 7rem 0;
}


#container-imagem-mulher{
    display: flex;
    justify-content: center;
    margin: 7rem;
}

#container-imagem-mulher img{
    width: 80%;
}

#container-imagem-homem{
    display: flex;
    justify-content: center;
    margin: 7rem;
}

#container-imagem-homem img{
    width: 80%;
}


/* Localização */

.container-fachada {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 7rem 0 7rem  0 ;
    
}

.container-fachada img {
    width: 50%; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container-fachada p {
    width: 40%;
    text-align: justify;
    font-size: 1.2rem;
}

#mapa {
    display: flex;
    justify-content: center;
}

#mapa iframe {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Produtos */

#produtos {
    display: flex;
    flex-wrap: wrap;
}


.conteudo-produtos {
    width:30%;
    height: 30%;
}

dl {
    margin-top: 3rem;
    background-color:rgb(248, 249, 250);
    cursor: pointer;
}

dt{
    color:#998137 ;
    font-size: 2em;
    font-weight: bold;
}

dd {
font-size: 1.1em;
}

dd img {
    width: 12em;
}


/*footer*/

footer {
    background-color: ;
    background-color:rgb(248, 249, 250);
    height: 15vh; 
    margin-top: 3em;
    
}

#container-social {
    display: flex;
    justify-content: center;
}

footer img {
   margin-right: 3em;
   width: 2em;
   margin-top: 2em;
   cursor: pointer;
}

footer h4 {
font-size: 2em;
color: #998137;
text-align: center;
margin: 1em;
}

footer p {
    font-size: 1em;
    text-align: center;
}

